# Note that not all variables here might be in use for your selected configuration

# Prisma
DATABASE_URL=

# VATSIM SSO
VATSIM_URL=
VATSIM_SCOPE=
VATSIM_CLIENT_ID=
VATSIM_CLIENT_SECRET=
CALLBACK_URL=
